version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
      time: "15:00"
      timezone: "Asia/Shanghai"
    allow:
      - dependency-name: "golang.org/*"
      - dependency-name: "github.com/golangci/golangci-lint/v2"
      - dependency-name: "github.com/mgechev/revive"
      - dependency-name: "github.com/prometheus/*"
      - dependency-name: "go.uber.org/*"
      - dependency-name: "github.com/grafana/pyroscope-go"
    open-pull-requests-limit: 2
  - package-ecosystem: "gomod"
    directory: "/parser"
    schedule:
      interval: "weekly"
