startup --host_jvm_args=-Xmx4g
startup --unlimit_coredumps
dump: --http_connector_attempts=2
dump: --http_connector_retry_max_timeout=5s
run:ci --color=yes

build --http_timeout_scaling=0.1
build --announce_rc
build --experimental_guard_against_concurrent_changes
build --incompatible_strict_action_env --incompatible_enable_cc_toolchain_resolution
build:ci --color=yes
build:ci --experimental_remote_cache_compression
build:release --workspace_status_command=./build/print-workspace-status.sh --stamp
build:release --config=ci
build:race --config=ci
build:race --@io_bazel_rules_go//go/config:race --test_env=GORACE=halt_on_error=1 --test_sharding_strategy=disabled
test --test_output=errors --test_summary=detailed
test:ci --color=yes
test:ci --verbose_failures --test_verbose_timeout_warnings
test:ci --test_env=GO_TEST_WRAP_TESTV=1
test:ci --experimental_ui_max_stdouterr_bytes=268435456
test:ci --test_timeout=150,300,900,3600
test:ci --flaky_test_attempts=5
test:race --test_timeout=1200,6000,18000,72000

try-import /data/bazel
