bin
/tidb-server/tidb-server
/tidb-server/debug
coverage.out
.idea/
*.iml
*.swp
*.log
tags
profile.coverprofile
explain_test
cmd/explaintest/explain-test.out
cmd/explaintest/explaintest_tidb-server
cmd/explaintest/portgenerator
cmd/checkserialtest/checkserialtest
*.fail.go
tools/bin/
vendor
/_tools/
.DS_Store
.vscode
