[submodule "tidb-security-advanced"]
	path = tidb-security-advanced
	url = git@gitee.com:pingcap_enterprise/tidb-security-advanced.git
	branch = release-7.1.8-5
[submodule "tidb-enterprise-utilities"]
	path = tidb-enterprise-utilities
	url = git@gitee.com:pingcap_enterprise/tidb-enterprise-utilities.git
	branch = release-7.1.8-5
