# OS / filesystem
__MACOSX
.DS_Store

# Editor / IDE
.idea/
*.iml
.ijwb/
.vscode
*.swp
tags

# Local tooling metadata
.specstory
.cursor
.codex
.trae

# Go workspace / tooling
go.work
go.work.sum
.golangci.bck.yml

# Binaries / generated tools
bin
/tidb-server/tidb-server
/tidb-server/debug
tools/bin/
mysql_tester
genkeyword
/_tools/

# Dependencies
vendor

# Bazel
# skywalking-eyes 0.4 cannot handle the git glob syntax correctly. As a temporary workaround,
# we explicitly list the bazel-related files and directories to be ignored.
# TODO: test and consider upgrading skywalking-eyes in the future.
/_bazel
bazel-*
bazel-bin
bazel-out
bazel-testlogs
bazel-tidb
MODULE.bazel.lock

# Testing / coverage / reports
# Files generated when testing
out
test_coverage
coverage.out
coverage.txt
coverage.dat
profile.coverprofile
*-coverage.xml
*-junit-report.xml
*.test.bin
*.fail.go
*.log
*.log.json
*__failpoint_stash__
/oom_record/

# Integration tests
tests/integrationtest/integration-test.out
tests/integrationtest/integrationtest_tidb-server
tests/integrationtest/s/
tests/integrationtest/replayer/

# Local dev artifacts
bench_daily.json
compose-dev.yaml
fix.sql
export-20*/
var

# Personal config files
/*config.toml
.cache
