language: go

go_import_path: github.com/pingcap/tidb

go:
  - "1.11.x"

env:
    - TRAVIS_COVERAGE=0

before_install:  
  # create /logs/unit-test for unit test.
  - sudo mkdir /logs
  - sudo touch /logs/unit-test
  # See https://github.com/golang/go/issues/12933
  - bash gitcookie.sh
script:
  - make dev
  - ./hack/check-tidy.sh
