# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin
coverage.out
.idea/
*.iml
*.swp
*.txt
*.log
tags
profile.coverprofile
overalls.coverprofile
explain_test
*.fail.go
vendor
.DS_Store
